.bundle/
tmp
log/*.log
pkg
test/dummy/config/database.yml
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp
test/dummy/.sass-cache
test/dummy/public/system
test/dummy/public/assets
test/dummy/.powenv
spec
.DS_Store
.rspec
passenger.3000.log
passenger.3000.pid.lock

test/dummy/config/application.yml

# Generated js bundles
/app/assets/webpack/*
test/dummy/app/assets/webpack/*
client/node_modules/*